body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}
